footer {   
    background-color: hsl(225, 49%, 26%);
    margin-top: 80px;
    bottom: 0;
    width: 100%;
    padding: 15px;
    text-align: center;
}

p{
    font-size: 13px;
    margin-bottom: 0;
    color: white;
}

@media (max-width: 768px) {
    p{
        font-size: 8px;
    }
}