:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#divContainerSpinner {
  display: grid;
  justify-items: center;
}

.headerLoader {
  color: white;
  margin-top: 15px;
  text-align: center;
  font-weight: normal;
}
