<app-header></app-header>
<body>
    <h1 class="titulo">PRÉSTAMOS DE BICICLETAS</h1>    
    <div class="centrar">
        <div class="grupo">
            <a id="botonEstudiante" (click)="navegar('estudiante')"><div>Estudiante</div></a>
            <a id="botonStaff" (click)="navegar('staff')"><div>Staff</div></a>
        </div>
    </div>
    <div class="container">
        <p>BICIESPOL, es el nuevo servicio de transporte que incluye un modelo de préstamo de bicicletas GRATUITO. En el Campus “Gustavo Galindo Velasco” ubicado en el Km. 30.5 Vía Perimetral.</p>
        <p>El tramo de la BiciESPOL tiene dos estaciones, una en la entrada principal y otra a un lado del edificio del rectorado. El recorrido puede tomar hasta 7 minutos. La ruta comprende 2 KM.</p>
        <p>Existen disponibles 130 bicicletas para uso exclusivo de la comunidad politécnica.</p>
    </div>
</body>
<app-footer></app-footer>