body {
    margin-top: 20px;
    min-height: 500px;
    margin-bottom: 50px;
}

.titulo {
    font-size: 2rem;
    color: #243363;
    text-align: center;
    padding-bottom: 20px;
}

.centrar {
    text-align: -webkit-center;
}

.grupo {
    display: flex;
    min-height: 70vh;
    background-image: url("https://www.bienestar.espol.edu.ec/sites/default/files/d9/bici.jpeg");
    background-size: cover;
    background-position: top;
    max-width: 1024px;
}

#botonEstudiante,
#botonStaff {
    width: 50%;
    justify-content: center;
    display: flex;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}

#botonEstudiante {
    color: #333;
    background-color: rgba(255, 255, 255, 0.5);
}

#botonStaff {
    color: #eee;
    background-color: rgba(66, 66, 66, 0.5);
}

#botonEstudiante div:hover {
    border-bottom: 2px solid #333;
    /* Agregar subrayado al pasar el mouse */
}

#botonStaff div:hover {
    border-bottom: 2px solid #eee;
    /* Agregar subrayado al pasar el mouse */
}

.container {
    max-width: 1300px;
    text-align-last: left;
    padding: 15px 0px;
}

/* Formulario */

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container label {
    font-weight: bold;
    margin-bottom: 5px;
    display: inline-block;
}

.container input[type="datetime-local"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 0px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.container button {
    display: block;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
}

.container button:hover {
    background-color: #0056b3;
}

.error-message {
    color: red;
    margin-top: 0;
    font-size: 12px;
    text-align-last: right;
    margin-bottom: 10px;
}

.submit {
    text-align: -webkit-right;
    margin-top: 20px;
}


.containerTabla {
    max-width: 1300px;
    text-align-last: left;
    margin: 0 auto;
    margin-top: 10px;
    padding: 20px;
    max-height: calc(100vh - 200px);
    /* Ajusta la altura máxima según sea necesario */
}


@media (max-width: 1400px) {

    .container,
    .containerTabla {
        max-width: 1100px;
    }

    @media (max-width: 1200px) {
        .grupo {
            max-width: 916px;
        }

        .container,
        .containerTabla {
            max-width: 930px;
        }

        @media (max-width: 992px) {
            .grupo {
                max-width: 676px;
                min-height: 70vh;
            }

            .container,
            .containerTabla {
                max-width: 700px;
                font-size: 13px;
            }

            @media (max-width: 768px) {
                .grupo {
                    max-width: 516px;
                    min-height: 50vh;
                }

                .container,
                .containerTabla {
                    max-width: 520px;
                    font-size: 10px;
                }

                @media (max-width: 575px) {
                    .grupo {
                        margin: 10px;
                        min-height: 40vh;
                        max-width: 551px;
                    }

                    .container,
                    .containerTabla {
                        max-width: 500px;
                        padding-left: 10px;
                        padding-right: 10px;
                        font-size: 10px;
                    }
                }
            }
        }
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Color oscuro semi-transparente */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    /* Asegurarse de que esté en la parte superior */
}

.stationOneRow {
  color: #007bff;
  font-weight: bold;
}
.stationOneRow:hover {
  color: #0056b3;
}

.stationTwoRow {
  color: #6c757d;
  font-weight: bold;
}
.stationTwoRow:hover {
  color: #5a6268;
}
