<app-header></app-header>
<body>
    <h1 class="titulo">DEMANDA DE BICICLETAS DEL STAFF</h1>
    <div class="container">
        <form [formGroup]="dateTimeForm" (ngSubmit)="onSubmit()" class="formulario">
            <label for="datetimeInicio">Fecha y Hora de Inicio:</label>
            <input type="datetime-local" id="datetimeInicio" formControlName="datetimeInicio" [max]="currentDate">
            <div *ngIf="dateTimeForm.get('datetimeInicio')!.hasError('required')" class="error-message">
                La hora de inicio es obligatoria.
            </div>

            <label for="datetimeFin">Fecha y Hora de Fin:</label>
            <input type="datetime-local" id="datetimeFin" formControlName="datetimeFin">
            <div *ngIf="dateTimeForm.get('datetimeFin')!.hasError('required')" class="error-message">
                La hora de fin es obligatoria.
            </div>
            <div *ngIf="dateTimeForm.hasError('dateRangeInvalid')" class="error-message">
                La hora de fin debe ser después de la hora de inicio.
            </div>
            <div *ngIf="dateTimeForm.hasError('minTimeDifferenceNotMet')" class="error-message">
                La diferencia entre las fechas debe ser máximo 10 horas.
            </div>

            <div class="submit">
                <button type="submit">Enviar</button>
            </div>
        </form>
    </div>
    <div class="containerTabla">
        <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <ng-container matColumnDef="numeroEstacion">
            <mat-header-cell *matHeaderCellDef>Número de Estación</mat-header-cell>
            <!-- If element.numeroEstacion is equal to 1 use class stationOneRow else use stationTwoRow -->
            <mat-cell *matCellDef="let element" [ngClass]="{'stationOneRow': element.numeroEstacion == 1, 'stationTwoRow': element.numeroEstacion == 2}">{{ element.numeroEstacion }}</mat-cell>
            <!-- <mat-cell *matCellDef="let element">{{ element.numeroEstacion }}</mat-cell> -->
          </ng-container>

          <ng-container matColumnDef="fecha">
            <mat-header-cell *matHeaderCellDef>Fecha</mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.fecha }}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="numeroEntero">
            <mat-header-cell *matHeaderCellDef>Número Entero</mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.numeroEntero }}</mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row ngClass="" *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
</body>
<div class="overlay" *ngIf="isLoading">
  <app-loader></app-loader>
</div>
